/* 
 * Login 
 */

#main .azaslogin label {
    margin-right: 1em;
}

#main .azaslogin button, 
#main .azaslogin input
{
    display: run-in;
    margin: 0;
    padding: 0 .3em;
    border: solid grey 0.05rem;
    height: 2rem;
}

/*
 * Council
 */

#main .azascouncil {
    padding-left: 50px; /* Hauptseitenlayout */
}

#main .azascouncil h3 {
    padding-left: 0;
}

#main .azascouncil ul {
    margin: .3rem 0 1rem;
    padding: 0;
    border-top: solid grey .05rem;
}

#main .azascouncil li {
    position: relative;
    padding: .2em 1em;
    border: solid grey .05rem;
    border-top: none;
    list-style: none;
    overflow: hidden;
}

#main .azascouncil nav {
    position: absolute;
    left: 4em; /* don't cover expand button*/
    right: 1em;
    top: .2em;
}

#main .azascouncil nav a,
#main .azascouncil a.expand,
#main .azascouncil button
{
    display: block;
    float: right;
    margin-left:.1rem;
    background-color: #eee;
    height: 1.3rem;
    width: 1.3rem;
    text-align: center;
}

#main .azascouncil nav a:hover,
#main .azascouncil a.expand:hover
{
    text-decoration: none;
}

#main .azascouncil a.expand {
    float:left;
    margin: 0;
}

#main .azascouncil button {
    position: absolute;
    top: .3rem;
    right: 1rem;
    width: auto;
    color: #137390;
    font-size: 80%;
    border: none;
}

#main .azascouncil li ul, 
#main .azascouncil li li
{
    border: none;
    margin: 0;
}

#main .azascouncil li li {
    padding: .1rem;
    background-color: #f7f7f7;
    margin: .1rem .2rem;
    float: left;
}

#main .azascouncil .break {
    clear: both;
}

#main .azascouncil .label,
#main .azascouncil label
{
    display: block;
    color: #444;
    font-variant: small-caps;
    font-size: 70%;
}
