/* 
 * Login 
 */

#main .azaslogin label {
    margin-right: 1em;
}

#main .azaslogin button, 
#main .azaslogin input
{
    display: run-in;
    margin: 0;
    padding: 0 .3em;
    border: solid grey 0.05rem;
    height: 2rem;
}

/*
 * Council
 */

#main .azascouncil {
    padding-left: 50px; /* Hauptseitenlayout */
}

#main .azascouncil h3 {
    padding-left: 0;
}

#main .azascouncil ul {
    margin: .3rem 0 1rem;
    padding: 0;
    border-top: solid #ccc .03rem;
}

#main .azascouncil li {
    position: relative;
    padding: .2em 1em;
    border: solid #ccc .03rem;
    border-top: none;
    list-style: none;
    overflow: hidden;
    min-height: 1.4rem;
}

#main .azasmain nav {
    overflow: hidden;
}

#main .azascouncil nav {
    position: absolute;
    left: 4rem; /* don't cover expand button*/
    right: 1rem;
    bottom: .2rem;
}

#main .azasmain button
{
    display: block;
    float: right;
    margin-left:.1rem;
    background-color: #f9f9f9;
    border: .03rem solid #ccc;
    color: #137390;
    height: 1.3rem;
    width: auto;
    font-size: 80%;
    text-align: center;
}

#main .azascouncil .azasnew {
    border-style: dashed;
    border-top: none;
}

#main .azascouncil table {
    margin: 0;
    margin-bottom: .5em;
}

#main .azascouncil td, 
#main .azascouncil th
{
    border: none;
    margin: 0;
    vertical-align: middle;
}

#main .azascouncil input,
#main .azascouncil select
{
    border: 1px solid grey;
    font-size: inherit;
    padding: .1em;
    margin: .1em;
}

#main .azascouncil .break {
    clear: both;
}

#main .azascouncil th
{   
    text-align: right;
    max-width: 17em;
    color: #222;
    font-size: 80%;
}

#main .azascouncil .fieldinfo {
    text-align: center;
    color: #222;
    font-size: 80%;
    font-style: italic;
}
