/* 
 * Login 
 */

#main .azaslogin label {
    margin-right: 1em;
}

#main .azaslogin button, 
#main .azaslogin input
{
    display: run-in;
    margin: 0;
    padding: 0 .3em;
    border: solid grey 0.05rem;
    height: 2rem;
}

/*
 * Council
 */

#main .azascouncil {
    padding-left: 50px; /* Hauptseitenlayout */
}

#main .azascouncil h3 {
    padding-left: 0;
}

#main .azascouncil ul {
    margin: .3rem 0 1rem;
    padding: 0;
    border-top: solid #ccc .03rem;
}

#main .azascouncil li {
    position: relative;
    padding: .2em 1em;
    border: solid #ccc .03rem;
    border-top: none;
    list-style: none;
    overflow: hidden;
    min-height: 1.4rem;
}

#main .azascouncil nav {
    position: absolute;
    left: 4rem; /* don't cover expand button*/
    right: 1rem;
    top: .2rem;
}

#main .azascouncil button
{
    display: block;
    float: right;
    margin-left:.1rem;
    background-color: #eee;
    border: none;
    color: #137390;
    height: 1.3rem;
    width: auto;
    font-size: 80%;
    text-align: center;
}

#main .azascouncil .azasnew {
    border-style: dashed;
    border-top: none;
}

#main .azascouncil td, 
#main .azascouncil th
{
    border: none;
    margin: 0;
}

#main .azascouncil .break {
    clear: both;
}

#main .azascouncil .label,
#main .azascouncil label
{
    display: block;
    color: #333;
    font-variant: small-caps;
    font-size: 80%;
}
