<p style="margin: 1rem 0; padding: 0; color: grey; font-size:80%;">{{council | json}}</p>
<section class="azasfsinfo">
    <ul>
        <li>{{council.info.university}}</li>
        <li>{{council.info.email}}</li>
        <li>{{council.info.address }}</li>
    </ul>
</section>
<h3>Teilnehmer</h3>
<section class="azasparticpants"></section>
<h3>Maskottchen</h3>
<section class="azasmascots">
    <ul>
        <li *ngFor="#mascot of council.mascots" class="azasmascot" [mascot]="mascot" (deleted)="delMascot($event)"></li>
        <li class="azasnew">
            <nav>
                <button (click)="newMascot()">Neues Maskottchen</button>
            </nav>
        </li>
    </ul>
</section>
