<section class="azasfsinfo">
    <ul>
        <li>{{council.info.university}}</li>
        <li>{{council.info.email}}</li>
        <li>{{council.info.address }}</li>
    </ul>
</section>
<h3>Teilnehmika</h3>
<section class="azasparticpants">
    <ul>
        <li *ngFor="#part of council.participants; #i = index" 
            class="azasparticipant" 
            [token]="council.info.token" 
            [part]="part"
            (deleted)="delParticipant(i)"
            (up)="participantUp(i)"
            (down)="participantDown(i)">
        </li>
        <li class="azasnew">
            <nav>
                <button (click)="newParticipant()">Neues Teilnehmikon</button>
            </nav>
        </li>
    </ul>
</section>
<h3>Maskottchen</h3>
<section class="azasmascots">
    <ul>
        <li *ngFor="#mascot of council.mascots" 
            class="azasmascot" 
            [token]="council.info.token" 
            [mascot]="mascot" 
            (deleted)="delMascot($event)">
        </li>
        <li class="azasnew">
            <nav>
                <button (click)="newMascot()">Neues Maskottchen</button>
            </nav>
        </li>
    </ul>
</section>
<section style="background-color: #fec;">
    <h3 style="color: grey;">Debug</h3>
    <pre style="margin: 1rem 0; padding: 0; color: grey; font-size:80%;">{{council | json}}</pre>
</section>

