<section class="azasfsinfo">
    <ul>
        <li>{{council.info.university}}</li>
        <li><span class="label">Kürzel:</span>{{council.info.address}}</li>
        <li><span class="label">Email:</span>{{council.info.email }}</li>
    </ul>
</section>
<h3>Teilnehmika <span class="label">- absteigende Teilnahmepriorität</span></h3>
<section class="azasparticpants">
    <ul>
        <li *ngFor="#part of council.participants; #i = index" 
            class="azasparticipant" 
            [class.approved]="part.approved"
            [class.gremium]="part.info.gremium"
            [token]="council.info.token" 
            [part]="part"
            (deleted)="delParticipant(i)"
            (up)="participantUp(i)"
            (down)="participantDown(i)">
        </li>
        <li class="azasnew">
            <nav>
                <button (click)="newParticipant()" style="font-weight: bold;">+</button>
            </nav>
        </li>
    </ul>
</section>
<h3>Maskottchen</h3>
<section class="azasmascots">
    <ul>
        <li *ngFor="#mascot of council.mascots" 
            class="azasmascot" 
            [token]="council.info.token" 
            [mascot]="mascot" 
            (deleted)="delMascot($event)">
        </li>
        <li class="azasnew">
            <nav>
                <button (click)="newMascot()" style="font-weight: bold;">+</button>
            </nav>
        </li>
    </ul>
</section>

