<form (ngSubmit)="login()">
    <p>
        <label for="token">Fachschaftstoken:</label>
        <input type="text" id="token" placeholder="token" [(ngModel)]="token" />
        <button type="submit">Login</button>
    </p>
</form>
<p style="margin-top: 3rem">
    Es freut uns sehr dich als ZaPFikon begrüßen zu dürfen! 
</p>
<p>
    Hier ein paar Hinweise zur Anmeldung:
</p>
<p>
    Jede Fachschaft hat drei gesicherte Plätze (grüne Häkchen). 
    Teilnehmika die Mitglied eines Gremiums sind haben ebenfalls fest zugesicherte Plätze (blaue Häkchen), die zusätzlich zum Kontingent jeder Fachschaft vergeben werden.
    Nach dem die Anmeldung geschlossen ist, werden alle Teilnehmika entsprechend markiert.
</p>
<p>
    Viel Spaß bei der Anmeldung und bis bald! Euer Orga-Team :D
</p>
