<nav>
    <button *ngIf="state=='display' || state=='edit'" (click)="delete()">&#10007;</button>
    <button *ngIf="state=='display'" (click)="edit()">&#9998;</button>
    <button *ngIf="state=='edit'" (click)="save()">Speichern</button>
</nav>
{{mascot.nickName}} ({{mascot.fullName}}) 
<span *ngIf="state=='save'" class="azasprocess"> - wird gespeichert</span> 
<span *ngIf="state=='delete'" class="azasprocess"> - wird gelöscht</span> 
<form *ngIf="state=='edit'">
    <table>
        <tr>
            <th><label for="nickname">Spitzname</label></th>
            <td><input name="nickname" type="text" required="required" [(ngModel)]="mascot.nickName"></td>
        </tr>
        <tr>
            <th><label for="fullname">Voller Name</label></th>
            <td><input name="fullname" type="text" required="required" [(ngModel)]="mascot.fullName"></td>
        </tr>
    </table>
</form>
