<nav>
    <button *ngIf="state=='display' || state=='edit'" (click)="delete()">&#10007;</button>
    <button *ngIf="state=='display'" (click)="edit()">&#9998;</button>
    <button *ngIf="state=='display'" (click)="goUp()">&#8679;</button>
    <button *ngIf="state=='display'" (click)="goDown()">&#8681;</button>
    <button *ngIf="state=='edit'" (click)="save()">Speichern</button>
</nav>
{{part.info.nickName}} ({{part.info.firstName}} {{part.info.lastName}}) 
<span *ngIf="state=='save'" class="azasprocess"> - wird gespeichert</span> 
<span *ngIf="state=='delete'" class="azasprocess"> - wird gelöscht</span> 
<form *ngIf="state=='edit'">
    <table>
        <tr>
            <th><label for="nickname">Spitzname</label></th>
            <td><input id="nickname" type="text" required="required" [(ngModel)]="part.info.nickName"></td>
        </tr>
        <tr>
            <th><label for="firstname">Vorname</label></th>
            <td><input id="firstname" type="text" required="required" [(ngModel)]="part.info.firstName"></td>
        </tr>
        <tr>
            <th><label for="lastname">Nachname</label></th>
            <td><input id="lastname" type="text" required="required" [(ngModel)]="part.info.lastName"></td>
        </tr>
        <tr>
            <th><label for="email">Email</label></th>
            <td><input id="email" type="text" required="required" [(ngModel)]="part.info.email"></td>
        </tr>
        <tr>
            <th><label for="cell">Handynummer (optional)</label></th>
            <td><input id="cell" type="text" [(ngModel)]="part.info.cell"></td>
        </tr>
        <tr>
            <th><label for="gremium">Gremium</label></th>
            <td>
                <select id="gremium" #gremium [(ngModel)]="part.info.gremium" (change)="part.info.gremium=gremium.value">
                    <option *ngFor="#g of gremiums" [value]="g">{{g}}</option>
                </select>
            </td>
        </tr>
        <tr>
            <th><label for="tshirt">T-Shirt</label></th>
            <td>
                <select id="tshirt" #tshirt [ngModel]="part.info.tshirt" (change)="part.info.tshirt=tshirt.value">
                    <option *ngFor="#t of tshirts" [value]="t">{{t}}</option>
                </select>
            </td>
        </tr>
        <tr>
            <th><label for="robe">Ich möchte einen Bademantel für (maximal) XX Euro kaufen</label></th>
            <td><input id="robe" type="checkbox" [(ngModel)]="part.info.robe"></td>
        </tr>
        <tr>
            <th><label for="food">Essen</label></th>
            <td>
                <select id="food" #food [(ngModel)]="part.info.food" (change)="part.info.food=food.value">
                    <option *ngFor="#f of foods" [value]="f">{{f}}</option>
                </select>
            </td>
        </tr>
        <tr>
            <th><label for="allergies">Allergien (optional)</label></th>
            <td><input id="allergies" type="text" [(ngModel)]="part.info.allergies"></td>
        </tr>
        <tr>
            <th><label for="excursion1">Exkursionswunsch 1</label></th>
            <td>
                <select id="excursion1" #excursion1 [(ngModel)]="part.info.excursion1" (change)="part.info.excursion1=excursion1.value">
                    <option *ngFor="#e of excursions" [value]="e">{{e}}</option>
                </select>
            </td>
        </tr>
        <tr>
            <th><label for="excursion2">Exkursionswunsch 2</label></th>
            <td>
                <select id="excursion2" #excursion2 [(ngModel)]="part.info.excursion2" (change)="part.info.excursion2=excursion2.value">
                    <option *ngFor="#e of excursions" [value]="e">{{e}}</option>
                </select>
            </td>
        </tr>
        <tr>
            <th><label for="excursion3">Exkursionswunsch 3</label></th>
            <td>
                <select id="excursion3" #excursion3 [(ngModel)]="part.info.excursion3" (change)="part.info.excursion3=excursion3.value">
                    <option *ngFor="#e of excursions" [value]="e">{{e}}</option>
                </select>
            </td>
        </tr>
        <tr>
            <th><label for="dayOfBirth">* Geburtstag (dd.mm.yyyy)</label></th>
            <td><input id="dayOfBirth" type="text" [(ngModel)]="part.info.dayOfBirth"></td>
        </tr>
        <tr>
            <th><label for="nationality">* Nationalität</label></th>
            <td><input id="nationality" type="text" [(ngModel)]="part.info.nationality"></td>
        </tr>
        <tr>
            <th><label for="address">* Adresse</label></th>
            <td><input id="address" type="text" [(ngModel)]="part.info.address"></td>
        </tr>
        <tr>
            <th><label for="comment">Kommentar (optional)</label></th>
            <td><input id="comment" type="text" [(ngModel)]="part.info.comment"></td>
        </tr>
        <tr>
            <th><label for="zaepfchen">ZäPFchen (zum ersten mal hier?)</label></th>
            <td><input id="zaepfchen" type="checkbox" [(ngModel)]="part.info.zaepfchen"></td>
        </tr>
        <tr>
            <th><label for="swimmer">Schwimmer?</label></th>
            <td>
                <select id="swimmer" #swimmer [(ngModel)]="part.info.swimmer" (change)="part.info.swimmer=swimmer.value">
                    <option *ngFor="#s of swimmers" [value]="s">{{s}}</option>
                </select>
            </td>
        </tr>
        <tr>
            <th><label for="snorer">Schnarcher?</label></th>
            <td>
                <select id="snorer" #snorer [(ngModel)]="part.info.snorer" (change)="part.info.snorer=snorer.value">
                    <option *ngFor="#s of snorers" [value]="s">{{s}}</option>
                </select>
            </td>
        </tr>
        <tr>
            <th><label for="arrival">Ankunft (wenn ihr am Bahnhof abgeholt werden möchtet)</label></th>
            <td><input id="arrival" type="text" [(ngModel)]="part.info.arrival"></td>
        </tr>
    </table>
    <p class="fieldinfo">* nur für Exkursionen X,Y und Z benötigt</p>
</form>
